html {
    font-size: 14px;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    margin: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
    border-bottom: 2px solid white;
}

h1,h2 {font-weight: unset;}

a {
    color: white;
}

a:not(:hover) {
    text-decoration: none;
}

/*.comedy .vn-title,
.comedy .vn-tags,
.comedy .vn-thumb,
.comedy .vn-icon,
.comedy .vn-playtime,
.test > div.comedy {
    filter: drop-shadow(0 0 3px yellow)
            drop-shadow(0 0 3px rgba(255,255,0,0.4));
}*/

.ver {
    text-align: right;
    margin-bottom: 1rem;
}

.upcoming-link {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-gap: 1.7rem;
}

.sidebar {
    text-align: justify;
}

.sidebar h2 {
    margin: 0;
    font-size: 1.2rem;
}

.sidebar-section {
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
}

.test {
    display: flex;
    font-size: 0.9rem;
}

.test > div {
    text-align: center;
}

.gradient-bar {
  height: 1rem;
  margin: 0.4rem 0;
  border-radius: 0.2rem;
  background: linear-gradient(90deg, #2e62dd 0%, #9b3add 25%,
                                     #dd4b4b 50%, #dd7b4b 75%, #e1cd5d 100%);
  position: relative;
  transform-style: preserve-3d;
}
/*
.gradient-bar::before {
  content: "";
  position: absolute; 
  inset: -4px;
  background: inherit;
  filter: blur(4px);
  border-radius: inherit;
  opacity: 0.4;
}*/

.legend {
    text-align: end;
}

.legend .vn-icon,
.legend .vn-playtime {
    float: left;
}

.legend > div {
    display: flex;
    align-items: center;
    padding-bottom: 0.7rem;
}

.legend > div img {
    padding-right: 0.7rem;
}

.legend > div div:last-child {
    flex: auto;
}

.vn-grid {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    padding-left: 3px;
}

.item {
    display: grid;
    grid-template-columns: 190px 20px;
    grid-gap: 5px;
    grid-auto-rows: min-content;
    padding: 0 2.5rem 2.5rem 0;
}

.vn-icon,
.vn-playtime {width: 20px;}

.vn-title {
    font-size: 1.3rem;
    grid-column: 1;
    grid-row: 1;
}

.vn-grid .vn-playtime {
    grid-column: 2;
    grid-row: 2 / 3;
}

.vn-thumb {
    grid-column: 1;
    grid-row: 2 / 8;
    width: 190px;
    height: 260px;
    object-fit: cover;
    box-sizing: border-box;
    border: 3px solid;
    border-radius: 9px;
    outline: 1px solid black;
    outline-offset: -4px;
}

.story .vn-thumb {border-color: #2e62dd;}
.storom .vn-thumb {border-color: #9b3add;}
.romance .vn-thumb {border-color: #dd4b4b;}
.romcom .vn-thumb {border-color: #dd7b4b;}
.comedy .vn-thumb {border-color: #e1cd5d;}
.nukige .vn-thumb {border-color: #e8e8e8;}

.vn-tags {
    grid-column: 1;
    grid-row: 8;
    text-align: right;
    font-size: 0.9rem;
}

.vn-icon {
    grid-column: 2;
}

.vn-icon:nth-last-of-type(4) {grid-row: 4}
.vn-icon:nth-last-of-type(3) {grid-row: 5}
.vn-icon:nth-last-of-type(2) {grid-row: 6}
.vn-icon:last-of-type {grid-row: 7}

.main-grid.upcoming { margin-top: 1.7rem;}

.upcoming-list {
    display: grid;
    grid-template-columns: auto auto;
}

.upcoming-list a {text-align: start;}

.upcoming-list date {
    justify-self: end;
}